<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- FontAwesomeの読み込み -->
  <script src="https://kit.fontawesome.com/0fb79387fa.js" crossorigin="anonymous"></script>
  <title>Web CampBackendNew</title>
</head>

<body>
<h1>ようこそ Bookers へ！</h1>
<p>Bookers では、さまざまな書籍に関するあなたの意見や<br><br>印象を共有し交換することができます</p>

<%= link_to "start", books_path %>
</header>

</body>



